<% include partials/header %>
<h2>Edit a todo</h2>
<form class="container" action="/to-do/<%= todo_item._id %>?_method=PUT" method="POST">
    <input type="text" name="new[title]" value="<%= todo_item.title %>">
    <textarea name="new[description]"><%= todo_item.description %></textarea>

    <select name="new[priority]">
        <option>Must do</option>
        <option>Should do </option>
        <option>Would be nice</option>
    </select>
    <button class="btn btn-secondary">Update!</button>
</form>
<% include partials/footer %>