<% include partials/header %>

<form class="container mt-5" action="/to-do/<%= todo_item._id %>?_method=PUT" method="POST">
    <h2 class="text-light">Edit a todo</h2>
    <div class="form-group">
        <input class="form-control" id="title" type="text" required="true" name="new[title]"
            value="<%= todo_item.title %>">
    </div>
    <div class="form-group">
        <label class="text-light" for="description">Description</label>
        <textarea id="description" class="form-control" name="new[description]"><%= todo_item.description %></textarea>
    </div>
    <div class="form-group">
        <label for="priority" class="text-light">Add a priority </label>
        <a href="#">
            <i class="fa fa-question-circle infoLink"></i>
        </a>
        <br />
        <select value="<% todo_item.priority %>" id="priority" name="new[priority]">
            <option>Whenever</option>
            <option>Must do</option>
            <option>Should do </option>
            <option>Would be nice</option>
        </select>
    </div>
    <button class="btn btn-secondary">Update!</button>
</form>
<% include partials/footer %>