<% include partials/header %>
<div id="container">
    <h1>To-Do List <span id="toggle-form"> <a class="add_new" href="to-do/new"><i class="fa fa-plus"></i></a></span>
    </h1>
    <form id="quickAdd" action="/to-do" method="POST">
        <input type="text" name="new[title]" placeholder="quick add!">
        <button style="display: none;" id="quickBtn" class="float-right"></button>
    </form>
    <ul>
        <% todo_list.forEach(function(todo){ %>
        <li><span>
                <form action="/to-do/<%= todo._id %>?_method=DELETE" method="POST"><button><i
                            class="fa fa-trash"></i></button></form>
            </span><%= todo.title %>
            <a href="/to-do/<%= todo._id %>"><i class="fa fa-info-circle float-right"></i></a>
        </li>
        <!-- <%= //todo.description.substring(0,15)%> </li> -->
        <% }) %>

    </ul>
</div>
<script>

    $('ul').on('click', 'li', function () {
        $(this).toggleClass('completed')
    })

    $('ul').on('click', 'span', function (event) {
        $(this)
            .parent()
            .fadeOut(500, function () {
                $(this).remove()
            })
        event.stopPropagation()
    })

    $("#quickAdd").keypress(function (event) {
        if (event.which === 13) {
            event.preventDefault()
            $("#quickBtn").click()
            $(this).val('')

        }

    })


    // $('#toggle-form').click(function () {
    //     $("input[type='text']").fadeToggle()
    // })
</script>
<% include partials/footer %>