<% include partials/header %>
<form class="container" action="/to-do" method="POST">
    <label>create new</label>
    <input type="text" required="true" name="new[title]" placeholder="title">
    <textarea name="new[description]">Add a description</textarea>
    <select name="new[priority]">
        <option>Must do</option>
        <option>Should do </option>
        <option>Would be nice</option>
    </select>

    <button class="btn btn-success">Add!</button>
</form>
<% include partials/footer %>