<% include partials/header %>
<form class="container" action="/to-do" method="POST">
    <label>create new</label>
    <input type="text" required="true" name="new[title]" placeholder="title">
    <textarea name="new[description]">Add a description</textarea>
    <select>
        <option>Must Do</option>
        <option>Should Do</option>
        <option>Would Be Nice to Do</option>
    </select>

    <button class="btn btn-success">Add!</button>
</form>
<% include partials/footer %>