<% include partials/header %>
<h2>create new</h2>
<form class="container" action="/to-do" method="POST">
    <input type="text" name="new[title]" placeholder="title">
    <textarea name="new[description]">Add a description</textarea>

    <input type="radio" name="new[priority]"> Must Do
    <input type="radio" name="new[priority]"> Should Do
    <input type="radio" name="new[priority]"> Would be nice to do

    <input type="text" name="new[comment]" placeholder="add a note">
    <button class="btn btn-success">Add!</button>
</form>
<% include partials/footer %>