<% include partials/header %>
<h1>Register here!</h1>
<form action="/register" method="POST">
    <input required="true" type="Text" name="username" placeholder="username">
    <input required="true" type="Text" name="password" placeholder="password">
    <button>Sign up!</button>
</form>

<% include partials/footer %>