<% include partials/header %>

<script>
    function checkPassword(form) {
        password1 = form.password1.value;
        password2 = form.password2.value;

        // If Not same return False.     
        if (password1.length < 8) {
            alert("\nPassword must be at least 8 characters long: please try again")
            return false
        } else if (password1 != password2) {
            alert("\nPassword did not match: Please try again...")
            return false;
        }

        return true;
    } 
</script>

<form onSubmit="return checkPassword(this)" class="auth" action="/register" method="POST">
    <h1 class="text-light">Register here!</h1>

    <div class="form-group">
        <label for="InputEmail1">Username or Email address</label>
        <input type="text" name="username" required class="form-control" id="InputEmail" placeholder="Username">
    </div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input required name="password" type="password" class="form-control" id="password1" placeholder="Password">

        <label for="password2">Confirm Password</label>
        <input required type="password" class="form-control" id="password2" placeholder=" Retype Password">
        <small>password must be at least 8 characters</small>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<% include partials/footer %>