<% include ../partials/header %>
<div class="home">
    <h1 class="text-center pb-2"><a href="/to-do">Daily Details!</a></h1>
    <div>
        <h3>A To-do List with a Purpose</h3>
        <p>
            DailyDetails is more than just a piece of paper to check off tasks. This to-do
            list
            is a way of
            organizing
            your day, planning your life, and accomplishing what you need to.
        </p>
    </div>
    <hr>
    <div>
        <a id="priorities"></a>
        <h3>Priorities</h3>
        <p>Prioritizing is the most important part of time management, and the core of
            DailyDetails. There are four color coded levels of prioritizing:
            <ol>
                <li class="Must">Must Do Today</li>
                <li class="Should">Should Do Today</li>
                <li class="Would">Would Be Nice to Do Today</li>
                <li>Whenver</li>
            </ol>
            This makes planning your day simple and effective. Your day is planned around what you "Must Do", and then
            your "Should Do"s fit in around that, and then your "Would Be Nice"s, and finally your "Whenevers".
            If there's a conflict between two things, you do the one with the higher level of priority. If theres no
            time constraints at all, you do everything in order.
        </p>
        <hr>
        <div>
            <h3>Make the Most of it</h3>
            <p>
                Motivation is key. Writing down what you need to do in a day is a great start, but it's not quite
                enough.
                The motivation here is simple, you <strong>must</strong> do all of your "Must Do"s.
                As a real world example, in a day you must eat. No two ways about it. There's no excuses of "Well, I'm
                really busy today, I'll just eat twice as much tomorrow instead."
                When you have to use the restroom, theres no "I'm tired today, I'll do it another time."
                No. you simply <strong class="Must">Must</strong> do it.
                Everything you must get done in a day needs to be thought of in the same way.
                <ul>
                    <li class="Must">Eat</li>
                    <li class="Must">Go to the Gym</li>
                    <li class="Must">Drink water</li>
                    <li class="Must">Write "Thank You" notes</li>
                </ul>
                Thinking about things in this way ensures that you'll get them done.
            </p>
            <a href="/register">Get started now!</a>

        </div>
    </div>

</div>

<% include ../partials/footer %>